* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display:flex;
	width: 70%;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: row;
}

.cont [class^="content"] {
	display: none;
	justify-content: center;
	align-items: center;
}

@media (max-width: 550px){

	.main {
		width: 100%;
	}

	.header {
		background: #FF0000;
		width: 100%;
		height: 4rem;
		flex-basis: auto;
		order: 1;
		margin: 5px;
	}

	.cont {
		order: 2;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 5px;
	}

	.cont [class^="content"]:first-child {
		display: flex;
		width: 100%;
		height: 10rem;
		background: yellow;
	}

	.orange {
		background: #FF7800;
		width: 100%;
		height: 8rem;
		order: 3;
		margin: 5px;
	}

	.green {
		background: green;
		width: 100%;
		order:4;
		height: 8rem;
		margin: 5px;
	}

	.footer {
		background: #F58DD6;
		width: 100%;
		height: 8rem;
		order: 5;
		margin: 5px;
	}

	.blue {
		background: #0243FF;
		width: 100%;
		height: 8rem;
		order: 6;
		margin: 5px;
	}
}

@media (min-width: 551px) and (max-width: 799px){
	.main {
		width: 100%;
	}
	
	.header {
		background: #FF0000;
		width: 100%;
		height: 4rem;
		flex-basis: auto;
		order: 1;
		margin: 6px;
	}
	.orange {
		background: orange;
		width: 60%;
		height: 8rem;
		order: 2;
		margin-left: 6px;
		margin-right: 3px;
	}

	.green {
		background: green;
		width: 37%;
		height: 8rem;
		order: 2;
		margin-right: 3px;
		margin-left: 3px;
		
	}

	.cont {
		order: 3;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 6px;
	}

	.cont [class^="content"]:first-child {
		display: flex;
		width: 100%;
		height: 10rem;
		background: yellow;
	}

	
	.footer {
		background: #F58DD6;
		width: 100%;
		height: 15rem;
		order: 5;
		margin: 6px;
	}

	.blue {
		background: #0243FF;
		width: 100%;
		height: 8rem;
		order: 6;
		margin: 6px;
	}
		
}

@media (min-width: 800px) and (max-width: 1099px){
	.main {
		width: 100%;
	}
	
	.header {
		background: #FF0000;
		width: 100%;
		height: 4rem;
		flex-basis: auto;
		order: 1;
		margin: 8px;
	}
	.orange {
		background: orange;
		width: 60%;
		height: 8rem;
		order: 2;
		margin-left: 8px;
		margin-right: 4px;
	}

	.green {
		background: green;
		width: 37.5%;
		height: 8rem;
		order: 2;
		margin-right: 3px;
		margin-left: 4px;
		
	}

	.cont {
		order: 3;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 8px;
	}

	.cont [class^="content"]:first-child {
		display: flex;
		width: 100%;
		height: 10rem;
		background: yellow;
	}

	
	.footer {
		background: #F58DD6;
		width: 100%;
		height: 15rem;
		order: 5;
		margin: 8px;
	}

	.blue {
		background: #0243FF;
		width: 100%;
		height: 8rem;
		order: 6;
		margin: 8px;
	}
		
}



@media (min-width: 1100px){
		

	.header {
		background: #FF0000;
		width: 100%;
		height: 4rem;
		flex-basis: auto;
		margin-bottom: 10px;
	}

	.orange {
		background: #FF7800;
		width: 100%;
		height: 8rem;
		margin-bottom: 10px;
		}

	.cont {
		margin-left: 0px;
		margin-right: 0px;
		order: 1;
		width: 70%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.cont [class^="content"] {
		display: flex;
		width: 48%;
		height: 10rem;
		background: yellow;
		margin-left: 0;
		margin-top: 0;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	.green {
		background: green;
		width: 30%;
		order:2;
		height: 14rem;
		margin-left: 0px;
		margin-right: 0;
	}

	.footer {
		background: #F58DD6;
		width: 68%;
		height: 13rem;
		order: 3;
		margin-right: 19px;
		margin-left: 0;
	}

	.blue {
		
		background: #0243FF;
		width: 29.5%;
		height: 13rem;
		order: 4;
		margin-top: -100px;
		margin-right: 0;
		/*margin-left: 15px;*/
	}
}



